<launch>
  <node name="atlas" pkg="atlas" type="atlas_node" args="" output="screen">
    <param name="config" value="$(find atlas)/config/config_exp1.yml" type="str"/>
  </node>
  <node name="aruco_ar0" pkg="aruco_all_codes_tracker" type="aruco_apriltags_tracker_rqt" args="ardrone0_frontcam frontcam /Ardrone2SimpleLinModel_HASHMARK_0/ardrone/front/image_raw ARfront.yml 0.18 TAG36h11">
    <param name="cam_calib_dir" value="$(find aruco_all_codes_tracker)/data/" type="str"/>
  </node>
  <node name="logger" pkg="logger" type="logger_node" args="" output="screen">
    <param name="output" value="/home/paul/exp1.csv" type="str" />
    <param name="poses" value='["/Ardrone2SimpleLinModel_HASHMARK_0/pose"]' type="str" />
    <param name="fusedposes" value='["/atlas/fusedposes/ardrone0"]' type="str" />
  </node>
</launch>
